form div input:valid ~ label,
form div input:focus ~ label {
  transform: translateY(-1.75rem);
}

form div input:valid ~ i,
form div input:focus ~ i {
  height: 38px;
}

form div input:valid ~ div i,
form div input:focus ~ div i {
  height: 34px;
  opacity: 1;
}